<?xml version="1.0" ?>
<assets>
  <textures>
    <texture>assets/big_0.gif</texture>
    <texture>assets/invaderers/medievalshield.gif</texture>
    <texture>assets/invaderers/GameOver.gif</texture>
    <texture>assets/invaderers/enemy.gif</texture>
    <texture>#ffffff</texture>
    <texture>assets/invaderers/missile.gif</texture>
    <texture>assets/invaderers/bomb.gif</texture>
    <texture>assets/invaderers/castle.gif</texture>
  </textures>
  <sounds>
    <sound>assets/invaderers/whoosh.wav</sound>
    <sound>assets/invaderers/bang.wav</sound>
    <sound>assets/invaderers/tinkle.wav</sound>
  </sounds>
</assets>